
body {
	background-color: grey;
}

#container {
	margin:	auto;
	border: 1px solid black;
	background-color: grey;
}

#container #body_main #body_main_inner {
	overflow: scroll;
}

#tile_menu {
}

#tile_menu #tile_body {
	overflow-y: scroll !important;
}

#tile_menu #tile_canvas {
	margin: 2px;
}
