
body {
	background-color: grey;
}

#container {
	margin:	auto;
	border: 1px solid black;
	background-color: grey;
}

#container #body_main #canvas_main {
}

<<<<<<< HEAD
#tile_menu #tile_canvas {
	margin: 2px;
}
=======
>>>>>>> a1e99dc3f635dddf6556a11c8e0f244a8931f9b6
